*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(98, 98, 99);
    height: 100vh;
    width: 100vw;;
    padding: 50px;
}

select{
    height:30px ;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 12px 12px 12px rgba(0,0,0,0.38);
    margin-right: 20px;
}

.principal{
    display: inline-block;
    flex-direction: row;
    padding: 50px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.conteudo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.container{  
    position: relative;
    width: 500px;
    background-color: rgb(73, 0, 243);
    margin: 20px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 12px;
    box-shadow: 12px 12px 12px rgba(0,0,0,0.38);
    padding: 50px;
}
.opcoes{
    position: absolute;
    bottom: 0;
    z-index: 1;
}

button{
    background-color: rgb(89, 0, 255);
    color: white;
    height: 50px;
    width: 150px;
    z-index: 1;
    margin: 20px;
    border-radius: 12px;
    box-shadow: 12px 12px 12px rgba(0,0,0,0.38);
}
.header{
    font-size: 54px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.formulario{
    position: relative;
    width: 20%;
}

.formulario label{
    display: block;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.formulario input{
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    margin: 10px;
}
.formulario input[type="submit"]{
    display:block;
    margin: 20px;
    height: 40px;
    width: 200px;
    outline: none;
    margin: 10px;
}
#titulo{
    color: white;
}

#btnRemover{
    position: absolute;
    background-color: red;
    color:white;
    border-radius: 6px;
    height: 30px;
    right: 0;
    bottom: 1px;
}
textarea{
    height: 250px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 12px 12px 12px rgba(0,0,0,0.38);
    margin: 10px;
}
.inputs{
    width: 30%;
    height: 30px;
    border-radius: 12px;
    outline: none;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    box-shadow: 12px 12px 12px rgba(0,0,0,0.38);
    border: none;
}
